<!-- views/edit.ejs -->
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Editar Cliente</title>
</head>
<body>
    <h1>Editar Cliente</h1>
    <form action="/edit/<%= cliente.id %>" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" value="<%= cliente.nome %>" required><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="<%= cliente.email %>" required><br><br>
        <button type="submit">Salvar Alterações</button>
    </form>
    <br>
    <a href="/">Cancelar e Voltar para Lista de Clientes</a>
</body>
</html>
